<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <h2>Contact Form</h2>
    <p>Please let us know your query</p>
    <form action="#">
        <label for="name">Name:</label><br><br>
        <input type="text" id="name" placeholder="Your full Name" required><br><br>
        <label for="email">Email:</label><br><br>
        <input type="email" id="email" placeholder="What should we reply you" required><br><br>
        <label for="subject">Subject:</label><br><br>
        <input type="text" id="subject" placeholder="The Reason"><br><br>
        <label for="message">Message:</label><br><br>
        <textarea name="message" id="message" style="width:300px; height:100px;" placeholder="Explain your issue please..."></textarea><br><br>
        <input type="submit" value="Submit Form">
        <p>Copyright &copy; RahulRitchil.com</p>
      </form>
</body>
</html>