<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application</title>
</head>
<body>
    <h2>Job Application</h2>
    <p>Please complete the form below to apply for a position with us.</p>
    <form action="#">
        <hr>
        <label for="name">Full Name:</label><br>
        <input type="text" id="name"><br><br>
        <label for="address">Current Address:</label><br>
        <input type="text" id="address"><br> <br>
        <label for="email">Email Address:</label><br>
        <input type="email" id="email" placeholder="ex: example@gmail.com" required><br><br>
        <label for="quantity">Phone Number:</label><br>
        <input type="number" id="quantity"><br><br>
        <label for="design">Applying for position</label><br>
        <select name="design" id="design">
         <option value="web design and development-0">Select</option>
         <option value="web design and development-1">Web Design and Development-1</option>
         <option value="web design and development-2">Web Design and Development-2</option>
         <option value="web design and development-3">Web Design and Development-3</option>
         <option value="web design and development-4">Web Design and Development-4</option>
       </select>
       <br><br>
       <label for="date">Start date:</label>
        <input type="date" id="date"><br><br>
        <label for="myfile">Upload Resume:</label>
        <input type="file" id="myfile" name="myfile"><br><br>
        <input type="submit" value="Submit">
        <p>Copyright &copy; RahulRitchil.com</p>
  

    </form>
    <a href="../../index.html">Back to home page</a>
</body>
</html>