<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
</head>
<body>
    <h2>Register</h2>
    <p>Fill out this form</p>
    <form action="#">
        <fieldset>
            <legend>Your Information</legend> <br>
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name"> <br> <br>
            <input type="text" placeholder="Username"> <br> <br>
            <input type="email" placeholder="E-mail Address"> <br> <br>
            <input type="password" placeholder="Password"> <br> <br>
            <input type="checkbox" id="agreement">
            <label for="agreement"> I agree with the <b>Terms and Conditions</b> and the <b>Privacy Policy</b>.</label> <br><br>
            <input type="submit" value="Create Account">
            <p>Already have an account?<a href="#">Login here</a></p>
            <p>Copyright &copy; RahulRitchil.com</p>
        </fieldset>
       

    </form>
    <a href="../../index.html">Back to home page</a>
   
</body>
</html>