<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Form</title>
</head>
<body>
    
    <form action="#">
        <h1>Type:1</h1>
        <h2>Sales</h2>
        <hr>
        <label for="date">Sale Date:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="date" id="date"><br><br>
        <label for="cate">Category:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="cate"><br><br>
        <label for="pro">Products:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="pro"><br><br>
        <label for="units">Units Sold:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="units"><br><br>
        <label for="profit">Profit:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="profit"><br><br>
        <hr>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Copyright &copy; RahulRitchil.com</p>
        <h1>Type:2</h1>
        <h2>Contact our Sales team</h2>
        <hr>
        <label for="fname">First Name:</label>
        <input type="text" id="fname" >
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" ><br> <br> <br>
        <label for="email">Email Address:</label>
        <input type="email" id="email">
        <label for="quantity">Phone Number:</label>
        <input type="number" id="quantity"><br><br> 
        <label for="comname">Company Name:</label><br><br>
        <input type="text" id="comname" placeholder="To select, begin typing.." > <br> <br>
        <label for="design">How did you hear abous us?</label><br><br>
        <select name="design" id="design">
         <option value="web design and development-0">Select</option>
         <option value="web design and development-1">Web Design and Development-1</option>
         <option value="web design and development-2">Web Design and Development-2</option>
         <option value="web design and development-3">Web Design and Development-3</option>
         <option value="web design and development-4">Web Design and Development-4</option>
       </select>
       <br><br>
       <label for="message">Comments:</label><br><br>
        <textarea name="message" id="message" style="width:300px; height:100px;"></textarea><br><br>
        <p>Are you an existing customer?</p>
        <input type="radio" id="yes" name="fav_language">
        <label for="yes">Yes</label>
        <input type="radio" id="no" name="fav_language">
        <label for="no">No</label><br><br>
        <hr>
        <input type="submit" value="Submit">
        <p>Copyright &copy; RahulRitchil.com</p>
      </form>
      <a href="../../index.html">Back to home page</a>
</body>
</html>